.instructors
{
	width: 100%;
	padding-top: 83px;
	padding-bottom: 30px;
	background: #f1f1f1;
}
.instructors_background
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 567px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.instructors_row
{
	margin-top: 50px;
}
.instructor
{
	padding-top: 40px;
	padding-bottom: 34px;
	padding-left: 30px;
	padding-right: 30px;
}
.instructor_image_container
{
	width: 165px;
	height: 165px;
	margin-left: auto;
	margin-right: auto;
}
.instructor_image
{
	position: absolute;
	width: 165px;
	height: 165px;
	margin-top:-10px;
	margin-left:-10px;
}
.instructor_image img
{
	max-width: 100%;
}
.instructor_name
{
	margin-top: 18px;
}
.instructor_name a
{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: rgba(0,0,0,0.9);
	font-weight: 700;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.instructor_name a:hover
{
	color: #2e21df;
}
.instructor_title
{
	font-size: 14px;
	font-weight: 500;
	color: rgba(0,0,0,0.3);
	margin-top: 5px;
}
.instructor_text
{
	margin-top: 16px;
}